.card{
display: flex;


}
.card-image img{
    height: 120.28379821777344px;
    width: 120.28379821777344px;
    border-radius: 50%;
    border: 3.34px solid #8661D1
}
.card-content{
    width: 60%;
}

