.card{
display: flex;
box-shadow: 0.2919134199619293px 0.2919134199619293px 3.6489179134368896px 0px #00000040 inset;



}
.card-image img{
    height: 120.28379821777344px;
    width: 120.28379821777344px;
    border-radius: 50%;
    border: 3.34px solid #8661D1
}
.card-content{
    width: 60%;
}

